<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Categoría</title>
    <link rel="stylesheet" href="{% static 'css/styleActualizarCategoria.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    {% if user.is_authenticated %}
        <div class="form-box">
            <div class="form-header">
                <header>Actualizar Categoría</header>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ categoria_form.as_p }}

                <div class="input-submit">
                    <button type="submit" class="submit-btn">Actualizar</button>
                </div>
            </form>
        </div>

    <!-- Alertas excepciones -->
    {% if messages %}
    
        {% for message in messages %}
        <script>
            alert("{{ message|escapejs }}");
        </script>
        {% endfor %}
    
    {% endif %}


    {% else %}
    <p style="text-align: center; margin-top: 50px;">
        Usted no ha iniciado Sesión
        </br>
        <a href = "{% url 'login' %}">Iniciar Sesión</a>
    </p>
    {% endif %}
</body>
</html>