<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Categoria</title>
    <link rel="stylesheet" href="{% static 'css/styleAgregarCategoria.css' %}">
    
</head>
{% if user.is_authenticated %}
    <body   class="container mt-4 ">
    <div class="form-box">
        <div class="form-header">
            <header>Agregar categoria</header>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{categoria_form}}
            </table>
            <div class="input-submit">
                <button type="submit" class="submit-btn">Agregar</button>
            </div>
        </form>    
    </body>

    <!-- Alertas excepciones -->
    {% if messages %}
    
        {% for message in messages %}
        <script>
            alert("{{ message|escapejs }}");
        </script>
        {% endfor %}
    
    {% endif %}

{% else %}
    <p style="text-align: center; margin-top: 50px;">
        Usted no ha iniciado Sesión
        </br>
        <a href = "{% url 'login' %}">Iniciar Sesión</a>
    </p>

    {% endif %}
</html>